version: '3'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - APP_NAME=go-template-api
      - PORT=8080
      - LOG_LEVEL=debug
      - ENV=development
    volumes:
      - .:/app
    restart: unless-stopped